<div class="indent-right">
  <div class="row">
    <div class="col-2">
      <%= tweets_index_avatar(@tweet) %>
    </div>
    <div class="col-5">
        <b><%= comment.user.username %></b>&nbsp;&nbsp;@<%= comment.user.handle %>
        <p class="text-small small-text-grey">Replying to <%= link_to thisuser_path(@tweet.user_id) do %>
          @<%= comment.tweet.user.handle %>
          <% end %>
          </p>
        <%= comment.body %>
        <br>
        <p class="text-small small-text-grey">Replied <%= time_ago_in_words(comment.created_at) %> ago</p>
        <hr />
    </div>
  </div>
</div>