<div class="container-flex tweet-index-margin-profile">
  <% if user_signed_in? %>
  <br>
    <div class="row">
      <div class="col-3">
      <!-- helper, avatar on index page, see application_helper.rb -->
        <%= link_to thisuser_path(current_user.id) do %>
          <%= index_avatar (@index_image) %>
        <% end %>
      </div>
      <div class="col-8">
        <%= render partial: 'index_tweet_form' %>
      </div>
    </div>
    <%= tweeted_num_text (@counted_tweets) %>
    <hr/>


    <div class="row">
      <div class="col-4">
    <% if current_user.followers.count == 1 %>
    <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "follower", '/tweets/followers' %></u></p>
      <% else %>
    <p>You have <b><%= current_user.followers.count %> </b><u><%= link_to "followers", '/tweets/followers' %></u></p>
    <% end %>
    </div>

    <button type="button" class="btn btn-md btn-outline-following rounded-pill" data-toggle="modal" data-target="#exampleModal">
      Following (<%= current_user.following.count %>)
    </button>
  </div>
  <% end %>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Following (<%= current_user.following.count %>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <% current_user.following.each do |following| %>
        <%= following_list_avatar(following) %>
        <%= following.username %>
        <b>&nbsp;&nbsp;&nbsp;@<%= following.handle %></b>
        <%= link_to "Profile", followinguser_path(following.id), class: "btn btn-outline-primary btn-sm rounded-pill tweet_right_options" %>
        <br />
        <br>
        <br>
      <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>