<div class="tweet-display">
  <div class="container-flex tweet-index-margin top-margin" id="tweets">
      <% @tweets.each do |tweet| %>

      <!-- tweet container -->

      <% if tweet.retweet_id.blank? %>
      <div class="block"> 
        <a class="overlay" href="<%= tweet_path(tweet.id) %>"></a>
        <div class="inner">
          <p class="tweet_right_options tweet_break">

          

            

            <!-- tweet options dropdown -->

            <div class="dropdown tweet_right_options tweet_break">    
              <a class="retweet-index btn btn-sm btn-primary rounded-pill tweet-right-options" href="#" role="button" id="tweetDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-ellipsis-h"></i>
              </a>
              <!-- dropdown options -->
              <div class="dropdown-menu" aria-labelledby="tweetDropdownButton">
                <% if current_user.id == tweet.user.id %>
                  <%= link_to '<i class="far fa-trash-alt"></i> Delete'.html_safe, tweet_path(tweet), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item", style: "color:red;" %>
                  <%= update_pin(tweet) %>
                <% end %>
                <%= follow_link(tweet) %>
                <%= link_to "Profile", thisuser_path(tweet.user.id), class: "dropdown-item" %>
                <a class="dropdown-item" href="#"><i class="fas fa-chart-bar"></i>&nbsp;View Activity</a>
              </div>
            </div>
          </p>

          <br>
          <div class="row">
            <div class="col-sm-2-5">
              <%= tweets_index_avatar(tweet) %>
            </div>
            <div class="col-10">
                <strong><%= tweet.user.username %></strong>&nbsp;&nbsp;
                <div class="text-inline-tweet">
                  @<%= tweet.user.handle %>&nbsp; 路 &nbsp;<%= time_ago_in_words(tweet.created_at) %>  
                </div>
              <% if tweet.retweet_id? %>
              <p class="text-small small-text-grey"><i class="fas fa-retweet"></i>&nbsp;Retweeted
                <%= link_to thisuser_path(tweet.source_user_id) do %>
                  @<%= tweet.username %>
                <% end %>
              </p>
              <% end %>
              <br>
              
                
                  <%= tweet.body %>
                
              
              <br>
            </div>
          </div>
        </div>
        


        <!-- like buttons -->
        <div class="row tweet-buttons">
          <div class="col-2">           
            <% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, tweet_like_path(tweet, pre_like), data: { remote: true, method: :delete }, :id => "like_id", :class => "like-btn btn btn-primary btn-sm rounded-pill" %>
              <% else %>
                <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, tweet_likes_path(tweet), data: { remote: true, method: :post }, :id => "like_id", :class => "like-btn btn btn-primary btn-sm rounded-pill" %>
              <% end %>
              &nbsp;&nbsp;<%= tweet.likes.count %>
          </div> 

        


          <div class="col-2">
            <% unless tweet.retweet_id == tweet.id %>
            <%= link_to '<i class="fas fa-retweet"></i>'.html_safe, retweet_tweet_path(tweet.id), class: "retweet-index btn btn-sm btn-primary rounded-pill", method: :post %>&nbsp;&nbsp;<%= tweet.retweets.count %>
            <% else %>
            <% end %>
          </div>
            
                
            
          

          <div class="col-2">
              <button type="button" class="btn btn-sm btn-primary rounded-pill" data-toggle="modal" data-target="#exampleModalCenter#<%= tweet.id %>">
                  <i class="fas fa-comment-dots"></i>
                </button> &nbsp;&nbsp;<%= tweet.comments.count %>
          </div>
        </div>
      
      

      

<!-- Reply Modal -->
      <div class="modal fade" id="exampleModalCenter#<%= tweet.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <p class="modal-title tweet-modal-text text-inline-tweet" id="exampleModalLongTitle">
                <%= tweets_index_avatar(tweet) %>&nbsp;&nbsp;<strong><%= tweet.user.username %></strong>&nbsp;&nbsp;@<%= tweet.user.handle %>&nbsp; 路 &nbsp;<%= time_ago_in_words(tweet.created_at) %>
              </p>
              <p class= "tweet-modal-text"><%= tweet.content %></p>
              <div class="modal-body">
                <div class="text-center">
                <%= simple_form_for [tweet, @comment] do |f| %>
                <hr />
                  <%= f.text_area :body, :placeholder => 'Add a comment...', :rows => 5, style: 'width:80%;' %><br>
                  <hr />
                  <%= button_tag( :class => "rounded-pill btn btn-primary btn-sm") do %>
                    <i class="fas fa-feather-alt"></i>
                  <% end %>
                <% end %>
                </div>
                <% if tweet.comments.count == 1 %>
                  <%= tweet.comments.count %> Reply
                <% else %>
                  <%= tweet.comments.count %> Replies
                <% end %>
                <br>
                <br>
                <% tweet.comments.reverse.each do |comment| %>
                <div class="row">
                  <div class="col-1">
                    <%= comment_avatar(comment) %>
                  </div>
                  <div class="col-10">
                  <p class="text-small small-text-grey">
                    <strong><%= comment.user.username %></strong>
                    &nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %>
                  </p>
                  <%= comment.body %>
                  </div>
                </div>
                <hr />
                <% end %>
              </div>
          </div>
        </div>
      </div>   
      <hr />
      </div>



      <% else %>

      <!-- retweet container -->



      <div class="block">
        <a class="overlay" href="<%= tweet_path(tweet.source_tweet_id) %>"></a>
        <div class="inner">
          <p class="tweet_right_options tweet_break">
            <% if current_user.id != tweet.source_user_id %> 
              <% if current_user.following?(tweet.source_tweet.user) %>
                  <%= link_to "Unfollow", relationships_path(user_id: tweet.source_user_id), data: { remote: true, type: :json, method: :delete }, :class => "follow-btn btn btn-md btn-outline-primary rounded-pill" %>
                <% else %>
                  <%= link_to "Follow", relationships_path(user_id: tweet.source_user_id), data: { remote: true, type: :json, method: :post }, :class => "follow-btn btn btn-md btn-outline-primary rounded-pill" %>
              <% end %>
            <% end %>
            &nbsp;<%= link_to "Profile", thisuser_path(tweet.source_user_id), class: "btn btn-outline-primary btn-md rounded-pill tweet_right_options" %>
          </p>
          <p class="text-small small-text-grey">
            <%= link_to tweet_path(tweet.source_tweet_id), class: "text-small small-text-grey" do %>
              <i class="fas fa-retweet"></i>&nbsp;
              <strong>
                <%= tweet.user.username %>&nbsp;Retweeted
              </strong>
            <% end %>
          </p>
          <div class="row retweet-border">
            <div class="col-sm-2-5">
              <br>
              <%= retweets_index_avatar(tweet) %>
            </div>
            <div class="col-10">
              <br>
                <strong><%= tweet.source_tweet.user.username %></strong>&nbsp;&nbsp;
                <div class="text-inline-tweet">
                  @<%= tweet.source_tweet.user.handle %>&nbsp; 路 &nbsp;<%= time_ago_in_words(tweet.source_tweet.created_at) %>  
                </div>
              <p>
                <%= tweet.body %>
              </p>
              <br>
            </div>
          </div>
        </div>
        


        <!-- retweet like buttons -->
        <div class="row tweet-buttons">
          <div class="col-2">           
            <% pre_like = tweet.source_tweet.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, tweet_like_path(tweet.source_tweet, pre_like), data: { remote: true, type: :json, method: :delete }, :class => "like-btn btn btn-primary btn-sm rounded-pill" %>
              <% else %>
                <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, tweet_likes_path(tweet.source_tweet), data: { remote: true, type: :json, method: :post }, :class => "like-btn btn btn-primary btn-sm rounded-pill" %>
              <% end %>
              &nbsp;&nbsp;<%= tweet.source_tweet.likes.count %>
          </div> 

        


          <div class="col-2">
            <% unless tweet.retweet_id.blank? || tweet.user_id == current_user.id %>
              <%= link_to '<i class="fas fa-retweet"></i>'.html_safe, retweet_tweet_path(tweet.source_tweet_id), class: "retweet-index btn btn-sm btn-primary rounded-pill", method: :post %>&nbsp;&nbsp;<%= tweet.source_tweet.retweets.count %>
            <% else %>
            <div class="retweet-index btn btn-sm btn-retweeted rounded-pill">
               <i class="fas fa-retweet"></i>
            </div>
             &nbsp;&nbsp;<%= tweet.source_tweet.retweets.count %>
            <% end %>
          </div>
            
                
            
          

          <div class="col-2">
              <button type="button" class="btn btn-sm btn-primary rounded-pill" data-toggle="modal" data-target="#exampleModalCenter#<%= tweet.id %>">
                  <i class="fas fa-comment-dots"></i>
                </button> &nbsp;&nbsp;<%= tweet.source_tweet.comments.count %>
          </div>
        </div>
        
        

        

  <!-- retweet reply Modal -->

        <div class="modal fade" id="exampleModalCenter#<%= tweet.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <p class="modal-title tweet-modal-text text-inline-tweet" id="exampleModalLongTitle">
                  <%= tweets_index_avatar(tweet) %>&nbsp;&nbsp;<strong><%= tweet.user.username %></strong>&nbsp;&nbsp;@<%= tweet.user.handle %>&nbsp; 路 &nbsp;<%= time_ago_in_words(tweet.created_at) %>
                </p>
                <p class= "tweet-modal-text"><%= tweet.content %></p>
                <div class="modal-body">
                  <div class="text-center">
                  <%= simple_form_for [tweet, @comment] do |f| %>
                  <hr />
                    <%= f.text_area :body, :placeholder => 'Add a comment...', :rows => 5, style: 'width:80%;' %><br>
                    <hr />
                    <%= button_tag( :class => "rounded-pill btn btn-primary btn-sm") do %>
                      <i class="fas fa-feather-alt"></i>
                    <% end %>
                  <% end %>
                  </div>
                  <% if tweet.comments.count == 1 %>
                    <%= tweet.source_tweet.comments.count %> Reply
                  <% else %>
                    <%= tweet.source_tweet.comments.count %> Replies
                  <% end %>
                  <br>
                  <br>
                  <% tweet.comments.reverse.each do |comment| %>
                  <div class="row">
                    <div class="col-1">
                      <%= comment_avatar(comment) %>
                    </div>
                    <div class="col-10">
                    <p class="text-small small-text-grey">
                      <strong><%= comment.user.username %></strong>
                      &nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %>
                    </p>
                    <%= comment.body %>
                    </div>
                  </div>
                  <hr />
                  <% end %>
                </div>
            </div>
          </div>
        </div>   
        <hr/>
        </div>
        <% end %>
        <% end %>
        <div id="infinite-scrolling">
          <%= will_paginate @tweets, :param_name => 'tweets_page' %>
        </div>
    </div>
  </div>
</div>




<!-- Delete prompt modal -->

