<div class="container" id="search-area" style="min-height:594px">
  <br />
  <strong>Search the community</strong>
  <br>
  <br>
  <%= search_form_for @search, url: home_search_index_path do |f| %>
  <div class="form-group">
    <%= f.search_field :username_cont, placeholder: 'Name', class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.search_field :about_cont, placeholder: 'Interests', class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.search_field :handle_cont, placeholder: '@', class: "form-control" %>
    </div>
    <%= button_tag( :class => "rounded-pill btn btn-primary btn-sm", remote: true) do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  <br>

  <table id="users" class="ml-2" border=1 frame=void rules=rows>
    <thead>
  	  <tr>
        <th style="padding:0 15px 0 15px;"></th>
    		<th style="padding:0 15px 0 15px;">Name</th>
    		<th style="padding:0 15px 0 15px;">About</th>
    		<th style="padding:0 15px 0 15px;">@</th>
    		<th colspan="3"></th>
    		<th colspan="3"></th>
  	  </tr>
	  </thead>
	  <tbody>
	<% @users.each do |user| %>
	  <tr>
      <td style="padding:0 15px 0 15px;"><%= member_list_avatar(user) %></td>
  		<td style="padding:0 15px 0 15px;"><%= user.username %></td>
  		<td style="padding:0 15px 0 15px;"><%= user.about %></td>
  		<td style="padding:0 15px 0 15px;"><%= user.handle %></td>
      <td style="padding:0 15px 0 15px;"><%= link_to "Profile", user_path(user.id), class: "btn btn-outline-primary rounded-pill" %> </td>
    </tr>
	<% end %>
	</tbody>
  <%= will_paginate @users %>
  </table>
</div>