<div class="container_tweets scrollable scrollbar-light-blue">
    <% @tweets.reverse.each do |tweet| %>
        <br>
        <div class="block">
        <%= latest_tweets_login(tweet) %>
        <%= link_to thisuser_path(tweet.user_id) do %>
          <div class="text-inline-tweet">
                  @<%= tweet.user.handle %>&nbsp; · &nbsp;<%= time_ago_in_words(tweet.created_at) %>  
                </div>
        <% end %>
        <br>
        <p>
        <div class="trix-content">
          <%= tweet.body %>
        </div>
        </p>
        <br>
        <p class="tweet_left_options text-small"><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes' %>&nbsp;&nbsp;<%= link_to 'Show Tweet', tweet, :style => "float:right" %></p>
        <br>
        <br>
        <hr/>
    </div>
    <% end %>
</div>