<div class="wrapper">
  <nav id="sidebar" class="active">
    <% if user_signed_in? %>
      <div class="sidebar-header">
          <%= sidebar_avatar(@sidebar) %>
          <%= current_user.username %>
      </div>

      <ul class="sidebar-pad"> 
        <%= link_to '<i class="fas fa-cog"></i> Manage Account'.html_safe, edit_user_registration_path, class: "btn btn-menu rounded-pill" %>
        <br>     
        <br>
        <%= link_to '<i class="fas fa-home"></i> Profile'.html_safe, user_path(current_user.id), class: "btn btn-menu rounded-pill" %> 
        <br>  
        <br>
        <%= link_to '<i class="fas fa-chart-bar"></i> Analytics <h6 style="color:red;">(Coming Soon)</h1>'.html_safe, '#', class: "btn btn-menu rounded-pill" %>
        <br>
        <br>
        <%= link_to '<i class="fas fa-search"></i> Search Users'.html_safe, '/home/search_index', class: "btn btn-menu rounded-pill" %>
        <br>
        <br>
        <%= link_to '<i class="fas fa-user-plus"></i> Followers'.html_safe, '/tweets/followers', class: "btn btn-menu rounded-pill" %>(<%= current_user.followers.count %>)
        <br>
        <br>
        <%= link_to '<i class="fas fa-user-check"></i> Following'.html_safe, '/tweets/following', class: "btn btn-menu rounded-pill" %>(<%= current_user.following.count %>)      
      </ul>
      <hr />

      <ul class="sidebar-pad">
        <%= link_to 'Tweet', new_tweet_path, class: "btn btn-lg btn-block btn-primary text-center rounded-pill" %>
      </ul>
      <br>
      <br>
      <ul>
        <%= link_to '<i class="fas fa-sign-out-alt"></i> Log out'.html_safe, destroy_user_session_path, class: "btn btn-menu rounded-pill", :method => :delete %>
      </ul>
    <% end %>
    

  </nav>
</div>
